<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170617092887-bdl6u7c7dcr1uvcq81mhm2or7v51qcqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170617092887-bdl6u7c7dcr1uvcq81mhm2or7v51qcqk</string>
	<key>API_KEY</key>
	<string>AIzaSyBPK7P01N8uXKciuYTt89DU-aboZijeFXU</string>
	<key>GCM_SENDER_ID</key>
	<string>170617092887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.googleSignIn</string>
	<key>PROJECT_ID</key>
	<string>signin-da7e6</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-da7e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170617092887:ios:898de679a9c0dc205f9552</string>
</dict>
</plist>